<section id="order" class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam cupiditate,
        debitis fuga hic iste iusto modi nemo, porro, quas similique ullam voluptatibus. Alias et
        fugiat harum nisi qui, rem.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza_big">
      <img src="assets/images/pizza_big.png" alt="pizza_big">
    </div>
  </div>
</section>

<app-popup data="About component"></app-popup>
